*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
app/release
app/build
captures
app/.cxx
app.iml
*.apk
*.ap_
*.dex
*.class
bin/
obj/
gen/
.classpath
.project
proguard/
*.ipr
*.iws
.idea/
.vs
.vscode
EasyLoop.Android/build/build-attribution/androidGradlePluginAttributionData
build